### 101 NumPy Exercises for Data Analysis (Python)
https://www.machinelearningplus.com/python/101-numpy-exercises-python/

In [30]:
import numpy as np

### 11. Get the common items between a and b

In [4]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

In [5]:
np.intersect1d(a,b)

array([2, 4])

### 12. From array a remove all items present in array b

In [6]:
a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

In [7]:
np.setdiff1d(a,b)

array([1, 2, 3, 4])

### 13. Get the positions where elements of a and b match

In [8]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

In [9]:
np.where(a == b)

(array([1, 3, 5, 7], dtype=int64),)

### 14. Get all items between 5 and 10 from a

In [10]:
a = np.array([2, 6, 1, 9, 10, 3, 27])

In [11]:
# It is &, not 'and'.
#priority in python????
a[(a>=5)&(a<=10)]

array([ 6,  9, 10])

### 15. Convert the function maxx that works on two scalars, to work on two arrays.

In [12]:
def maxx(x, y):
    """Get the maximum of two items"""
    if x >= y:
        return x
    else:
        return y

In [13]:
pair_max = np.vectorize(maxx, otypes=[float])

In [14]:
a = np.array([5, 7, 9, 8, 6, 4, 5])
b = np.array([6, 3, 4, 8, 9, 7, 1])
pair_max(a, b)

array([6., 7., 9., 8., 9., 7., 5.])

### 16. Swap columns 1 and 2 in the array arr

In [15]:
arr = np.arange(9).reshape(3,3)
arr

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [16]:
arr[:, [1,0,2]]

array([[1, 0, 2],
       [4, 3, 5],
       [7, 6, 8]])

### 17. Swap rows 1 and 2 in the array arr

In [17]:
arr = np.arange(9).reshape(3,3)
arr

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [18]:
arr[[1,0,2], :]

array([[3, 4, 5],
       [0, 1, 2],
       [6, 7, 8]])

### 18. Reverse the rows of a 2D array arr

In [22]:
arr = np.arange(9).reshape(3,3)
arr

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [23]:
arr[::-1]

array([[6, 7, 8],
       [3, 4, 5],
       [0, 1, 2]])

### 19. Reverse the columns of a 2D array arr

In [24]:
arr = np.arange(9).reshape(3,3)
arr

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [25]:
arr[:, ::-1]

array([[2, 1, 0],
       [5, 4, 3],
       [8, 7, 6]])

### 20. Create a 2D array of shape 5x3 to contain random decimal numbers between 5 and 10.

In [27]:
#Solution 1
np.random.randint(low=5, high=10, size=(5,3)) + np.random.random((5,3))

array([[6.77625458, 7.08779352, 9.71048542],
       [7.46934495, 5.06716813, 5.67106572],
       [8.59258782, 7.07304848, 9.44975635],
       [9.36099313, 8.2734389 , 8.94048974],
       [5.4691984 , 5.63714192, 7.2188899 ]])

In [29]:
#Solution 2
np.random.uniform(5,10, size=(5,3))

array([[8.61318167, 5.86915069, 6.76965866],
       [5.83361542, 8.1129844 , 6.80302783],
       [6.69224365, 7.05960829, 6.30213082],
       [8.52182036, 9.10461862, 8.14867993],
       [6.93308341, 6.74786201, 8.74724054]])