### 101 Pandas Exercises for Data Analysis
https://www.machinelearningplus.com/python/101-pandas-exercises-python/

In [19]:
import numpy as np

### 1. How to import pandas and check the version?

In [20]:
import pandas as pd

In [21]:
pd.__version__

'0.25.3'

### 2. Create a pandas series from each of the items below: a list, numpy and a dictionary

In [22]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [23]:
ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)

In [24]:
ser1.head()

0    a
1    b
2    c
3    e
4    d
dtype: object

In [25]:
ser2.head()

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [26]:
ser3.head()

a    0
b    1
c    2
e    3
d    4
dtype: int64

### 3. Convert the series ser into a dataframe with its index as another column on the dataframe.

In [27]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
ser.head()

a    0
b    1
c    2
e    3
d    4
dtype: int64

In [28]:
df = ser.to_frame().reset_index()
df.head()

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

### 4. Combine ser1 and ser2 to form a dataframe.

In [29]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [32]:
# Solution 1
df = pd.concat([ser1, ser2], axis=1)
df.head()

   0  1
0  a  0
1  b  1
2  c  2
3  e  3
4  d  4

In [33]:
# Solution 2
df = pd.DataFrame({'col1': ser1, 'col2': ser2})
df.head()

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

### 5. Give a name to the series ser calling it ‘alphabets’.

In [34]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

In [35]:
ser.name = 'alphabets'
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

### 6. From ser1 remove items present in ser2.

In [36]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [37]:
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

### 7. Get all items of ser1 and ser2 not common to both.