### 101 Pandas Exercises for Data Analysis
https://www.machinelearningplus.com/python/101-pandas-exercises-python/

In [5]:
import numpy as np
import pandas as pd

### 11. Bin the series ser into 10 equal deciles and replace the values with the bin name.

In [11]:
#???
ser = pd.Series(np.random.random(20))
ser.head()

0    0.538265
1    0.697951
2    0.942074
3    0.290996
4    0.459471
dtype: float64

In [12]:
pd.qcut(ser, q=[0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1], 
        labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']).head()

0     8th
1     9th
2    10th
3     4th
4     6th
dtype: category
Categories (10, object): [1st < 2nd < 3rd < 4th ... 7th < 8th < 9th < 10th]

### 12. Reshape the series ser into a dataframe with 7 rows and 5 columns

In [13]:
ser = pd.Series(np.random.randint(1, 10, 35))

In [15]:
df = pd.DataFrame(ser.values.reshape(7,5))
df

   0  1  2  3  4
0  6  4  7  5  1
1  4  1  6  8  7
2  1  8  2  7  6
3  9  1  4  2  8
4  9  5  9  7  4
5  8  6  9  1  5
6  9  8  3  2  8

### 13. Find the positions of numbers that are multiples of 3 from ser.

In [16]:
ser = pd.Series(np.random.randint(1, 10, 7))
ser

0    7
1    2
2    4
3    6
4    3
5    3
6    9
dtype: int32

In [17]:
np.argwhere(ser % 3==0)

c:\users\wd\envs\computing\lib\site-packages\numpy\core\fromnumeric.py:56: FutureWarning: Series.nonzero() is deprecated and will be removed in a future version.Use Series.to_numpy().nonzero() instead
  return getattr(obj, method)(*args, **kwds)

array([[3],
       [4],
       [5],
       [6]], dtype=int64)

### 14. From ser, extract the items at positions in list pos.

In [18]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

In [19]:
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

### 15. Stack ser1 and ser2 vertically and horizontally (to form a dataframe).

In [20]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

In [21]:
ser1

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [22]:
ser2

0    a
1    b
2    c
3    d
4    e
dtype: object

In [23]:
# Vertical
ser1.append(ser2)

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

In [24]:
# Horizontal
pd.concat([ser1, ser2], axis=1)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

### 16. Get the positions of items of ser2 in ser1 as a list.

In [25]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

In [34]:
# Solution 1
# i==ser1 ??
[np.where(i == ser1)[0].tolist()[0] for i in ser2]

[5, 4, 0, 8]

In [36]:
# Solution 2
# get_loc(i) find the index of i
[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

### 17. Compute the mean squared error of truth and pred series.

In [37]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

In [38]:
np.mean((truth-pred)**2)

0.35710472339626326

### 18. Change the first character of each word to upper case in each word of ser.

In [39]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

In [46]:
# Solution 1
ser.map(lambda x: x.title())

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [47]:
# Solution 2
ser.map(lambda x: x[0].upper() + x[1:])

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [48]:
# Solution 3
pd.Series([i.title() for i in ser])

0     How
1      To
2    Kick
3    Ass?
dtype: object

### 19. How to calculate the number of characters in each word in a series?

In [49]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

In [50]:
ser.map(lambda x: len(x))

0    3
1    2
2    4
3    4
dtype: int64

### 20. Difference of differences between the consequtive numbers of ser.

In [51]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

In [53]:
print(ser.diff().tolist())
print(ser.diff().diff().tolist())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]