### 101 NumPy Exercises for Data Analysis (Python)
https://www.machinelearningplus.com/python/101-numpy-exercises-python/

### 1. Import numpy as np and print the version number.

In [4]:
import numpy as np
np.__version__

'1.18.0'

### 2. Create a 1D array of numbers from 0 to 9

In [6]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

### 3. Create a 3×3 numpy array of all True’s

In [7]:
np.full((3, 3), True, dtype = bool)

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

In [8]:
np.ones((3,3), dtype = bool)

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

### 4. Extract all odd numbers from arr

In [9]:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [15]:
# different with list
arr[arr % 2 == 1]

array([1, 3, 5, 7, 9])

### 5. Replace all odd numbers in arr with -1

In [16]:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [19]:
arr[arr % 2 == 1] = -1
arr

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

### 6. Replace all odd numbers in arr with -1 without changing arr

In [22]:
arr = np.arange(10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [25]:
np.where(arr % 2 == 1, -1, arr)

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

In [26]:
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

### 7. Convert a 1D array to a 2D array with 2 rows

In [27]:
arr = np.arange(10)
arr.reshape(2, -1)  # Setting to -1 automatically decides the number of cols

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

### 8. Stack arrays a and b vertically

In [29]:
a = np.arange(10).reshape(2,-1)
b = np.repeat(1, 10).reshape(2,-1)

In [30]:
a

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [31]:
b

array([[1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [32]:
np.vstack([a,b])

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

### 9. Stack the arrays a and b horizontally.

In [34]:
a = np.arange(10).reshape(2,-1)
b = np.repeat(1, 10).reshape(2,-1)

In [35]:
np.hstack([a, b])

array([[0, 1, 2, 3, 4, 1, 1, 1, 1, 1],
       [5, 6, 7, 8, 9, 1, 1, 1, 1, 1]])

### 10. Create the following pattern without hardcoding. Use only numpy functions and the below input array a

In [37]:
a = np.array([1,2,3])
a

array([1, 2, 3])

In [38]:
np.r_[np.repeat(a, 3), np.tile(a, 3)]

array([1, 1, 1, 2, 2, 2, 3, 3, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3])